<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>send</key>
		<string>赞</string>
		<key>reply</key>
		<string>滚蛋</string>
	</dict>
	<dict>
		<key>send</key>
		<string>好</string>
		<key>reply</key>
		<string>好你妹</string>
	</dict>
</array>
</plist>
